@import '../../components/Header/Header.scss';
@import '../../assets/scss/animations.scss';

aside {
  position: fixed;
  top: $headerHeigth;
  width: 100vw;
  height: calc(100vh - #{$headerHeigth});
  transition: 1s ease;
  border-top: 2px solid $whiteColor;
  background-color: $headerBackground;

  .closeIconContainer {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;

    &:hover {
      animation: bounceLeft 1.2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-out;
    }
  }
}

.opened {
  left: 0vw;
  transition: 1s ease;
  z-index: 2;
}

.closed {
  left: -100vw;
  transition: 1s ease;
  z-index: 2;
}