@import '../Header/Header.scss';

nav {
  position: fixed;
  top: $headerHeigth;
  width: 100vw;
  height: calc(100vh - #{$headerHeigth});
  transition: 1s ease;
  border-top: 2px solid $whiteColor;

  ul {
    @include flexBox(column, space-around);
    height: 100%;
    background-color: $headerBackground;
    color: $sideBarColor;


    li {
      list-style: none;
      cursor: pointer;
      background-image: url('../../assets/images/ballons/defaultBallon.png');
      background-position: center;
      padding: 50px;
      font-size: $font-medium;
    }

    hr {
      width: 30%;
      border: none;
      border-bottom: 1px solid $sideBarColor;
      outline: none;
    }
  }
}

.move-menu {
  transform: translateX(-100vw);
  transition: 1s ease;
  z-index: 2;
}