@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.comicsDisplay {
  width: 50%;
  @include flexBox(column);

  > h4 {
    margin-bottom: 12px;
  }

  > .listContainer {
    @include flexBox(row, space-between, center, wrap);
    width: 100%;

    > li {
      padding: 0;
      font-size: $font-xxsmall;
      width: 45%;
      text-align: center;
      margin: 2px 1px;

      @include screen(min-md) {
        width: 25%;
      }

      &:hover {
        color: $transparentWhiteColor;
      }
    }
  }

  @include screen(min-md) {
    width: 75%;
  }
}