@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';
@import '../../components/Header/Header.scss';

.searchListContainer {
  @include flexBox(column);
  padding-top: 15px;
}


.searchListCards {
  @include flexBox(row, center, center, wrap);
  width: 100%;
  height: 100%;
}