@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.cardDetails {
  width: 100%;
  height: 100%;
  @include flexBox(column);
  color: $whiteColor;

  .cardHeader {
    width: 100%;
    @include flexBox(row, space-around);

    > img {
      width: 30%;
      border-radius: 10px;

      @include screen(min-md) {
        width: 15%;
      }
    }
  }

  .nameContainer, .description {
    @include flexBox(column);
    min-height: 50px;

    p {
      font-size: calc(5px + 1vw);
      text-align: center;
    }

    .descriptionText {
      font-size: calc(8px + 1.2vw);
      width: 80%;
      letter-spacing: 0.15em;
    }
  }
}