@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.charactersCard, .comicsCard {
  width: 25%;
  height: 25%;
  margin: 2%;
  @include flexBox(column, space-between);

  > img {
    width: 100%;
    border-radius: 10px;
  }

  .nameContainer {
    @include flexBox(column);
    min-height: 50px;

    p {
      font-size: calc(5px + 1vw);
      text-align: center;
    }
  }

  .cardOptions {
    @include flexBox(row, space-around);
    width: 100%;

    .option {
      .icon {
        cursor: pointer;
        font-size: $icon-small;
        transition: .8;
        
        &:hover, &:active {
          color: $mediumWineColor;
          transition: .8;
        }
      }
    }
  }
}
