@keyframes shakky {
  0% {margin-left: 0;}
  25% {margin-left: 7px;}
  50% {margin-left: 0;}
  75% {margin-left: -7px;}
  100% {margin-left: 0;}
}

@keyframes bounceLeft {
  0% {margin-left: 0;}
  50% {margin-left: -7px;}
  100% {margin-left: 0;}
}