@import './mixins.scss';
@import './variables.scss';


* {
  font-family: 'Bebas Neue';
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: $font-xlarge;
}

h2 {
  font-size: $font-large;
}

h3 {
  font-size: $font-medium;
}

p {
  $font-size: $font-small;
}

.textContainer { 
  max-width: 45ch;
  text-align: center;
  word-wrap: break-word;
}

