$darkColor: #0a1c20;

$blueColor: #41a6de;

$darkerWineColor: #260306;
$darkWineColor: #59070E;
$mediumWineColor: #880000;
$lightWineColor: #901A2A;

$redColor: #d10015;
$pinkColor: #f6343c;

$orangeColor: #f08327;

$yellowColor: #F2D335;

$grayColor: #d9d9d9;