$darkColor: #0a1c20;

$blueColor: #41a6de;

$darkerWineColor: #260306;
$darkWineColor: #59070E;
$lightWineColor: #901A2A;

$redColor: #d01e00;
$pinkColor: #f6343c;

$orangeColor: #f08327;

$yellowColor: #fedb0e;

$grayColor: #d9d9d9;