$darkColor: #0a1c20;

$blueColor: #41a6de;

$darkerWineColor: #260306;
$darkWineColor: #59070E;
$mediumWineColor: #880000;
$lightWineColor: #901A2A;

$redColor: #d10015;
$pinkColor: #f6343c;

$orangeColor: #f08327;

$yellowColor: #F2D335;

$darkerGrayColor: #444444;
$darkGrayColor: #8f8f8f;
$darkTranparentGrayColor: #8f8f8f7c;
$grayColor: #d9d9d9;
$transparentGrayColor: #d9d9d98a;

$whiteColor: white;
$transparentWhiteColor: rgba(255,255,255,0.5);


$icon-medium: calc(16px + 2vw);

$font-xxxlarge: calc(22px + 1.5vw);

$font-xlarge: calc(16px + 1vw);
$font-large: calc(14px + 0.8vw);
$font-medium: calc(12px + 0.8vw);
$font-small: calc(10px + 0.8vw);
$font-xsmall: calc(8px + 0.8vw);
$font-xxsmall: calc(6px + 0.8vw);