@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

$headerHeigth: 10vh;

header {
  @include flexBox(row, flex-start);
  height: $headerHeigth;
  background-color: $darkerWineColor;
}