@import '../../assets/scss/mixins.scss';
@import '../../assets/scss/variables.scss';

.overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 5;
  top: 0;
}

.cardPopup {
  position: fixed;
  z-index: 6;
  height: auto;
  width: 70vw;
  padding: 5%;
  top: 15%;
  background-color: $darkColor;
  border-radius: 50px;
  @include flexBox(column);

  > img {
    width: 200px;

    @include screen(min-lg) {
      width: 300px;
    }
  }

  > button {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: $yellowColor;
    color: $darkColor;
    border-radius: 100%;

    &:hover, &:active {
      background-color: $darkWineColor;
      color: $yellowColor;
    }
  }

}